<div class="container">
    <div class="well">
        <div class="jumbotron">
            <h1 class="center">Welcome to Trip Exchange</h1>
            <h2 class="center">Find your way home</h2>
        </div>
        <table class="table options">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <thead>
            <tr>
                <th>Trips</th>
                <th>Finished trips</th>
                <th>Users</th>
                <th>Drivers</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{stats.drivers}}</td>
                <td>{{stats.finishedTrips}}</td>
                <td>{{stats.users}}</td>
                <td>{{stats.drivers}}</td>
            </tr>
            </tbody>
        </table>
        <div>
            <div all-trips ></div>
            <div all-drivers></div>
        </div>

    </div>
</div>