<a href="#" id="bottle" onclick="document.location=this.id ;return false;">
    <img src="" alt="banner" id="banner" class="img-responsive" onclick="adClick()" />
</a>

<script>
    $(document).ready(function () {
        id = 1;
        $.ajax({
            url: '/Advertisements/Get',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $("#bottle").attr("id", data.target);
                $("#banner").attr("src", data.url).attr("alt", data.id);
            }
        });
    });

    function adClick() {
        var id = $("#banner").attr("alt");

        $.ajax({
            url: '/Advertisements/Click',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if (data === 0) {
                    location.reload();
                }
            }
        });
    }
</script>


