body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.col-md-7 input {
    height: 20px;
}

.col-md-7 textarea {
    height: 200px;
}

.vote-up-button {
    background: url(../Images/vote-buttons.gif) no-repeat;
    border: 0;
    font-size: 1px;
    height: 15px;
    width: 17px;
    background-position: 0 0;
    color: #38544e;
}

.vote-down-button {
    background: url(../Images/vote-buttons.gif) no-repeat;
    border: 0;
    font-size: 1px;
    height: 15px;
    width: 17px;
    background-position: -17px 0;
    color: #38544e;
}

.vote {
    margin-left : 8px;
    font: bold 30px arial
}
