<div ng-if="created=='true'">
    <img src="img/table.png" alt="home" class="image-container image-table"/>
    <table  class="table">
        <col width="33%" />
        <col width="33%" />
        <col width="33%" />
        <tr height="33%">
            <td><img src="img/empty.png" ng-click="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
        </tr>
        <tr height="33%">
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
        </tr>
        <tr height="33%">
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
            <td><img src="img/empty.png" alt="" class="tic-tac-toe-image"/></td>
        </tr>
    </table>
</div>