<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>

    <services>
      <service name="SubstringCountService.ServiceSubstringCount">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/SubstringCountService/ServiceSubstringCount/" />
          </baseAddresses>
        </host>
        <endpoint address="localhost" binding="wsHttpBinding"
         contract="SubstringCountService.IServiceSubstringCount" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
