.nav.navbar-nav.navbar-right(ng-controller="LoginCtrl")
    form(ng-hide="identity.isAuthenticated()").navbar-form
        .form-group
            input.form-control(type="text", placeholder="Username", ng-model="user.username")
            input.form-control(type="password", placeholder="Password", ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Login
        a(href="#/user-register").btn.btn-primary Register

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
                span.caret
            ul.dropdown-menu
                li
                    a(href="#/user-profile") Profile
                li
                    a(href="#" ng-click="logout()") Sign Out