@model List<AdViewModel>

@using EasyPTC.Web.ViewModels
@{
    var currentCount = 0;
}

@foreach (var ad in Model)
{
    <div class="col-md-2">
        <a href="@ad.Target">
            <input type="submit" class="ad" value="@ad.Name" onclick="adClick(@ad.Id)">
        </a>
        
    </div>

    currentCount++;
}

<div>   &nbsp; </div>

<script>
    function adClick(id) {
        $.ajax({
            url: '/Advertisements/Click',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $("#bottle").attr("id", data.target);
                if (data == 0) {
                    location.reload();
                }
            }
        });
    }
</script>

