<?xml version="1.0"?>

<configuration>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
     multipleSiteBindingsEnabled="true"/>

    <services>
      <service name="DateTimeService.ServiceDateTime"
       behaviorConfiguration="ServiceDateTimeBehavior">
        <endpoint address="localhost" binding="wsHttpBinding"
         contract="DateTimeService.IServiceDateTime">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceDateTimeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>
